/*
** Messages + Input
*/

.typing {
	bottom: 0px !important;
	background-color: rgba(0,0,0,0) !important;
}
.typing .ellipsis {
	width: 8px !important;
	transform: rotate(-90deg) scale(.75);
}
.typing .text {
	width: 100%;
	padding-left: 4px;
}

.chat form {
	margin: 0 10px;
}

.channel-text-area-default {
	margin: 10px 0 28px 0 !important;
}

/*.typing ~ .content .channel-text-area-default {
	margin: 0px 0 10px 0 !important;
}*/

textarea[class*="textAreaEnabled-"] {
	padding: 7px 38px 5px 0px !important;
}
div[class*="marginTop"] > div > textarea[class*="textAreaEnabled-"] {
	padding: 7px 38px 5px 7px !important;
}
textarea[class*="textAreaEdit-"] {
	padding: 7px 38px 5px 7px !important;
}

svg[class^="attachButton-"] {
	margin: 7px 0 7px 7px !important;
}
div[class^="attachButtonDivider"] {
	margin: 10px 7px !important;
}

div[class^="emojiButton"] {
	top: 50% !important;
	right: -5px !important;
	transform: translate(-50%, -50%) !important;
}
div[class^="spriteHovered"] {
	transform: scale(1.2);
}